.easy-icon { background-image: url(~sprite.png);background-size: 3860px 1838px;display: inline-block;}
.easy-icon-admin { width: 1920px; height: 909px; background-position: 0px 0px; }
.easy-icon-avatar { width: 54px; height: 54px; background-position: -2160px -929px; }
.easy-icon-logo { width: 200px; height: 200px; background-position: -1940px -929px; }
.easy-icon-student { width: 1920px; height: 909px; background-position: 0px -929px; }
.easy-icon-tea { width: 1920px; height: 909px; background-position: -1940px 0px; }
.easy-icon-win { width: 40px; height: 36px; background-position: -2234px -929px; }